html {
    border: 0; 
    margin: 0; 
    width: 100%; 
    height: 550vh; 
    background-color: rgb(9, 9, 54);
}

/* nav style start */
.nav-wrapper {
    width: 100%; 
    height: 30%; 
}

nav {
    width: 100%; 
    height: 100%; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
}

h3 {
    width: 35%; 
    min-width: 100px; 
    height: 100%; 
    font-size: 2.2rem;  
    font-weight: 200;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    display: flex; 
    justify-content: center;
    align-items: center; 
    position: relative; 
    left: 3%; 
    padding: 1.5rem;
    color: white; 
    border: 3px solid white; 
}

h3:hover {
    font-weight: 500;
    color: purple; 
    border: 3px solid purple;
}

.nav-ul {
    width: 50%; 
    min-width: 200px;
    height: 100%; 
    padding: 5px; 
    font-size: 1.3rem;
    text-align: center; 
    display: flex; 
    justify-content: space-around; 
    align-items: flex-end; 
    flex-wrap: wrap;
    margin: 0;
    position: relative; 
    left: 5px; 
}

.nav-ul a {
    color: white; 
    font-family: 'Courier New', Courier, monospace; 
    text-decoration: none;
    padding: 0.9rem; 
}

.nav-ul a:hover {
    color: purple;
    border-bottom: 3px solid purple; 
    font-weight: 700; 
}

/* header styles start */
header {
    width: 100%; 
    height: 100%; 
    margin-top: 10vh; 
}

.h1-wrapper {
    width: 100%; 
    height: 100%; 
    text-align: center; 
    margin-top: 45px; 
}

h1 {
    width: 100%;
    height: 100%;
    color: rgb(255, 255, 255);   
    font-size: 2.9rem; 
    font-weight: 700; 
    font-family: Arial, sans-serif;
    /* border: 3px solid purple;  */
}

h1:hover {
    color: purple; 
}

.header-emblem-wrapper {
    width: 100%; 
    height: 10%; 
    display: flex; 
    justify-content: center;
    position: relative; 
    top: 40px; 
}

.header-emblem-wrapper img {
    width: 12%; 
    height: 12%;
    max-width: 80px; 
    max-height: 80px;  
}

.header-img-wrapper {
    width: 100%; 
    height: 100%;  
    display: flex; 
    justify-content: center;  
    padding-bottom: 80px; 
}

.header-img-wrapper img {
    width: 80%; 
    height: 50%; 
    min-width: 470px; 
    min-height: 400px;
    border: 7px solid purple; 
}


/* main style start */
main {
    width: 100%; 
    height: 50vh; 
    min-height: 680px;
    display: flex; 
    border-bottom: 15px solid purple; 
}

/* main wrapper 1 (left side) */
.main-wrapper1 {
    width: 50%;
    height: 100%; 
    display: flex; 
    flex-direction: column;
    justify-content: center; 
}

.main-wrapper1 img {
    max-width: 40px; 
    max-height: 40px; 
    height: 100%; 
    position: relative; 
    top: 65px; 
    left: 30px; 
}
 
.main-wrapper1 h2 {
    color: white; 
    font-size: xx-large;
    font-family:'Courier New', Courier, monospace;
    text-align: center; 
    border-bottom: 3px solid purple;
    padding-bottom: 5px; 
    margin: 4%;  
    display: flex; 
    justify-content: center; 
}

.main-wrapper1 h2:hover { 
    color: purple; 
}

.main-wrapper1 p {
    color: white; 
    font-family: 'Courier New', Courier, monospace;
    font-size: large; 
    padding: 25px;  
    margin: 0; 
}

.main-button {
    width: 100%; 
    height: 15%; 
    display: flex; 
    justify-content: center;
    align-items: center;
}

.main-wrapper1 button {
    background-color: rgb(128, 30, 128);
    color: white; 
    padding: 10px; 
    border: 3px solid purple; 
}

.main-button button:hover {
    background-color: rgb(53, 16, 80);
    border: 3px solid rgb(53, 16, 80); 
    color: purple
}

/* main wrapper 2 (right side) */
.main-wrapper2 {
    width: 50%; 
    height: 100%; 
    min-height:fit-content; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.main-wrapper2 img {
    width: 50%; 
    height: 50%; 
    min-width: 230px; 
    border: 5px solid purple;
}

.paragraph-wrapper {
    width: 50%; 
    height: 50%; 
    z-index: 3; 
    min-width: 230px;
    min-height: 200px;
    background-color: rgb(67, 23, 149);
    text-align: center; 
    display: flex;
    justify-content: center; 
    align-items: center;
    border: 5px solid purple; 
}

.paragraph-wrapper p {
    color: white; 
    font-size: x-large;
    font-family: Courier, monospace;
    width: 100%; 
    height: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    min-width: 200px;
    max-height: 150px; 
}

.paragraph-wrapper:hover {
    background-color: rgb(53, 16, 80);
}

.paragraph-wrapper p:hover {
    color: purple; 
    
}

@media (max-width: 850px) {
    main {
        padding-bottom: 10%; 
    }

    .main-wrapper2 {
        flex-wrap: wrap; 
        display: flex; 
        justify-content: center; 
        align-items: center; 
        padding: 10px; 
    }

    .main-wrapper2 img {
        height: 50%; 
        width: 85%; 
        max-height: 330px; 
    }

    .paragraph-wrapper {
        height: 50%; 
        width: 85%; 
        max-height: 330px; 
    }

}

@media (min-width: 850px) {
    .main-wrapper2 img {
        position: relative; 
        bottom: 80px; 
        right: 30px; 
        max-width: 400px; 
        max-height: 600px; 
    }

    .paragraph-wrapper {
        position: relative;  
        left: 30px;
        top: 90px;
        max-width: 400px; 
        max-height: 600px; 
    }
}

/* main section 2 style (Exercises) */
.main-section2 {
    /* border: 3px solid red;  */
    width: 100%; 
    height: 100%; 
    display: flex; 
    position: relative; 
    top: 40px; 
    flex-direction: column;
}

h4 {
    color: white; 
    width: 20%; 
    display: flex; 
    justify-content: center; 
    position: relative; 
    left: 50px; 
    padding-left: 30px; 
    padding: 10px; 
    font-size: xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;;
    border-bottom: 3px solid purple;
    /* border: 3px solid purple;  */
}

h4:hover {
    color: purple; 
}

.main-section2-paragraph {
    width: 100%; 
    height: 50%; 
    max-width: 800px;
    display: flex; 
    justify-content: center;
    align-items: center;
    position: relative; 
    bottom: 25px;
    /* border: 3px solid peru;   */
}

.main-section2-paragraph p {
    color: white; 
    width: 80%; 
    text-align: center;
    font-family: 'Courier New', Courier, monospace; 
    font-size: larger; 
    padding: 15px; 
}

/* main section2 images */
.main-section2-images {
    /* border: 4px solid purple;  */
    width: 100%; 
    height: 100%; 
}

/* (row1 is the two top images) */
.images-row1 {
    width: 100%; 
    height: 50%; 
    display: flex; 
    justify-content: space-evenly; 
    align-items: center;
    margin: 0; 
    padding: 0; 
    border-bottom: 15px solid purple;
    /* border: 3px solid palevioletred; */
}

.images-row1 img {
    width: 95%; 
    padding: 0; 
    margin: 0; 
    min-width: 500px; 
    min-height: 700px;
    max-height: 600px;
    min-width: 450px;   
    border: 2px solid purple;
}

.running-img {
    width: 100%; 
    height: 100%; 
    padding: 0; 
    margin: 0;
    display: flex; 
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center; 
    /* border: 3px solid red;  */
}

.running-img img {
    max-height: 600px;
}

.running-img li {
    font-size: xx-large;
    font-weight: 700;
    color: white; 
    list-style: none; 
    font-size: larger;
    padding: 10px;
    width: 50%; 
    display: flex; 
    justify-content: flex-start; 
    position: relative; 
    bottom: 55px; 
    right: 75px; 
    /* border: 3px solid red;  */
}

.running-img li:hover {
    color: purple;
}

.yoga-img {
    width: 100%; 
    padding: 0; 
    margin: 0; 
    display: flex; 
    flex-direction: column-reverse; 
    justify-content: center; 
    align-items: center; 
    /* border: 3px solid green;  */
}

.yoga-img img {
    max-height: 600px; 
}

.yoga-img li {
    font-size: xx-large;
    font-weight: 700;
    color: white; 
    list-style: none; 
    font-size: larger;
    padding: 10px;
    width: 50%; 
    display: flex; 
    justify-content: flex-start; 
    position: relative; 
    bottom: 58px; 
    right: 75px; 
    /* border: 3px solid pink;  */
}

.yoga-img li:hover {
    color: purple; 
}

/* (row2 is the three bottom images) */
.images-row2 {
    width: 100%; 
    height: 100%;  
    margin: 0;
    padding: 0; 
    display: flex; 
    flex-wrap: wrap;
    position: relative; 
    top: 40px; 
    justify-content: space-evenly; 
    align-items: center; 
    position: relative; 
    bottom: 20px;
    /* border: 3px solid red;  */

}

.images-row2 img {
    width: 450px; 
    height: 700px;
    display: flex; 
    flex-wrap: wrap;
    border: 2px solid purple;
}

@media(min-width: 1250px){
    .images-row2 {
        display: flex; 
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        /* border: 3px solid hotpink; */

    }

    .images-row2 img {
        max-width: 400px;
        max-height: 600px;
    }
}

.boxing-img { 
    width: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column-reverse;
    /* border: 3px solid green; */
}

.boxing-img li {
    font-size: xx-large;
    font-weight: 700;;
    color: white; 
    list-style: none; 
    font-size: larger;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    width: 30%; 
    min-width: 200px;
    display: flex; 
    justify-content: flex-start;
    position: relative; 
    bottom: 55px; 
    width: 350px; 
    /* border: 3px solid purple; */
}

.boxing-img li:hover {
    color: purple; 
}

.crossfit-img {
    width: 100%; 
    height: 100%; 
    display: flex; 
    justify-content: center;
    align-items: center; 
    flex-direction: column-reverse;
    /* border: 3px solid paleturquoise;  */
}

.crossfit-img li {
    font-size: xx-large;
    font-weight: 700;
    color: white; 
    list-style: none; 
    font-size: larger;
    padding: 10px;
    width: 30%; 
    min-width: 200px;
    display: flex; 
    justify-content: flex-start; 
    position: relative; 
    bottom: 55px; 
    width: 350px; 
    /* border: 3px solid purple; */
}

.crossfit-img li:hover {
    color: purple;
}


.strength-img {
    width: 100%; 
    height: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column-reverse; 
    /* border: 3px solid salmon;  */
}

.strength-img li {
    font-size: xx-large;
    font-weight: 700;
    color: white; 
    list-style: none;
    font-size: larger;
    padding: 10px;
    width: 30%; 
    min-width: 200px;
    display: flex; 
    justify-content: flex-start; 
    position: relative; 
    bottom: 55px; 
    width: 350px; 
    /* border: 3px solid purple; */
}

.strength-img li:hover {
    color: purple; 
}


/* images row 1 media */
@media (max-width: 1000px){
    .images-row1 {
        flex-wrap: wrap; 
        display: flex; 
        justify-content: center; 
        align-items: center; 
    }

    .images-row1 img {
        margin: 10px; 
        padding: 0; 
        width: 80%; 
        height: 100%; 
        
    }
}

/* images row 2 media */
@media(max-width: 1100px) {
    .images-row2 {
        flex-wrap: wrap; 
        display: flex; 
        justify-content: center; 
        align-items: center; 
    }
}


/* main-section3 style start */
.main-section3 {
    width: 100%; 
    height: 100%; 
    min-height: 800px; 
    background-image: url(../Option2-assets/image7.jpg);
    z-index: 1; 
    opacity: 90%;
    /* border: 3px solid palevioletred;  */
}

h5 {
    font-size: xx-large;
    color: white;
    width: 40%; 
    text-align: center; 
    border-bottom: 3px solid purple;
    padding-bottom: 5px; 
    /* border: 3px solid green; */
}

h5:hover {
    color: purple; 
}

.main-section3 p {
    width: 60%; 
    height: 40%; 
    color: white; 
    font-size: x-large;
    padding: 15px; 
    display: flex; 
    position: relative; 
    bottom: 50px; 
    /* border: 3px solid orange;  */
}

/* forms start */
.section3-forms {
    width: 80%;
    height: 50%; 
    min-height: 400px;
    max-width: 600px; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-around;
    /* border: 3px solid paleturquoise;  */
}

/* firstName form */
.firstName {
    color: white; 
}

.Email {
    color: white; 
}

.Comment {
    color: white;  
    width: 100%; 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Comment input {
    min-height: 200px; 
    min-width: 400px;
    width: 95%;  
    display: flex; 
    justify-content: center; 

}

@media (max-width: 700px){
    .section3-forms {
        width: 100%;
    }
}


